@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

%fontfamily {
  font-family: "Mina", sans-serif;
}

%title {
  font-size: 2rem;
  color: aqua;
  text-shadow: 0.1rem 0.1rem #000;
}

%text {
  font-size: 1rem;
  font-weight: bold;
}
